version: "3.9"

services:
  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: user_api
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 9528296572
    ports:
      - "5432:5432"
